/AULAS E EXERCICIOS/AULA/01_PRIMEIRO_PROGRAMA/build/
/AULAS E EXERCICIOS/AULA/01_PRIMEIRO_PROGRAMA/nbproject/private/
/AULAS E EXERCICIOS/AULA/02-TÉCNICA-CAMELCASE/nbproject/private/
/AULAS E EXERCICIOS/EXERCICIOS/HORA_DO-SISTEMA/nbproject/private/
/AULAS E EXERCICIOS/EXERCICIOS/HORA-DO-SISTEMA/nbproject/private/
/AULAS E EXERCICIOS/EXERCICIOS/HORA-DO-SISTEMA/build/
/AULAS E EXERCICIOS/EXERCICIOS/ANO-ATUAL/nbproject/private/
/AULAS E EXERCICIOS/EXERCICIOS/ANO-ATUAL/build/
/AULAS E EXERCICIOS/EXERCICIOS/IDIOMA-DO-SISTEMA/nbproject/private/
/AULAS E EXERCICIOS/EXERCICIOS/IDIOMA-DO-SISTEMA/build/
/AULAS E EXERCICIOS/EXERCICIOS/RESOLUÇÃO-DA-TELA/nbproject/private/
/AULAS E EXERCICIOS/EXERCICIOS/RESOLUÇÃO-DA-TELA/build/
/AULAS E EXERCICIOS/EXERCICIOS/SomaValores/nbproject/private/
/AULAS E EXERCICIOS/EXERCICIOS/SomaValores/build/
/AULAS E EXERCICIOS/EXERCICIOS/DIVISAO-RESTODADIVISAO/nbproject/private/
/AULAS E EXERCICIOS/EXERCICIOS/DIVISAO-RESTODADIVISAO/build/
/AULAS E EXERCICIOS/EXERCICIOS/DIVISAO-RESTODADIVISAO/dist/
/AULAS E EXERCICIOS/AULA/06-OPERADORES-RELACIONAIS-E- LOGICOS/nbproject/private/
